<?xml version="1.0" encoding="utf-8" ?>
<!--[XmlRoot("hibernate-configuration")]-->
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
	<session-factory>
		<property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
		<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
		<property name="connection.connection_string">
			Server=Omur-F-E;Database=RecipeAppDb;uid=sa;pwd=fatbir1773;
		</property>
		<!--
		<property name="hbm2ddl.auto">create</property>
		-->
		<mapping assembly="RecipeApp"/>
	</session-factory>
	
</hibernate-configuration>

<!--
<configuration>
	<configSections>
		<section name="hibernate-configuration"
			type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
	</configSections>

	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2" auto-import="true">
		<session-factory>
			<property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
			<property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
			<property name="connection.connection_string">
				Server=LAPTOP-9IQ5NO3T;Database=RecipeAppDb;uid=sa;pwd=fatbir1773;initial catalog=quickstart;Integrated Security=True
			</property>

			<mapping assembly="RecipeApp" />
		</session-factory>
	</hibernate-configuration>
</configuration>
-->
